.navbar{
    display: flex;
    justify-content: space-between;
    padding: 16px;
    box-shadow: 0 1px 3px -2px black;
}
.nav-logo{
    width:185px;
    height: 41px;
    top: 29px;
    left: 54px;
    gap: 5px;
    opacity: 0px;
}
.nav-menu{
    display: flex;
    align-items: center;
    list-style: none;
   gap: 30px;
    font-size: 16px;
    color:  rgba(0, 0, 0, 1);
    font-weight: 500;
}
.nav-menu li{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   
    cursor: pointer;

}
.nav-menu hr{
   border-bottom: 1px solid  #B88E2F;
  
    width: 80%;
    border-radius: 10px ;
    
}
.menu-images{
    
   cursor: pointer;
    display: flex;
  
    gap: 40px;
    align-items: center;
    color: white;
    transition: background-color 0.3s ease;
}
.shopping-card-count{
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -35px;
    margin-left: -55px;
    border-radius: 11px;
    font-size: 14px;
    background-color: red;
    color: white;
}
